@charset "utf-8";

#font1{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
#image{		
	background-image: url("../images/background.png");
	background-repeat:repeat;
	background-size: 11% 20%;
}